.btn {
  background: var(--primary);
  border: none;
  outline: none;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  color: #fff;
}
