:root {
  --bg: #fff;
  --bg-dark: #000000;
  --primary: #43b02a;
  --max-width: 1200px;
  --hover: rgb(67 176 42 / 10%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: var(--bg);
}

.container {
  max-width: var(--max-width);
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

p {
  line-height: 1.5;
}

button {
  cursor: pointer;
}
