:root {
  --bg: #fff;
  --bg-dark: #000000;
  --primary: #43b02a;
  --max-width: 1200px;
  --hover: rgb(67 176 42 / 10%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: var(--bg);
}

.container {
  max-width: var(--max-width);
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

p {
  line-height: 1.5;
}

button {
  cursor: pointer;
}

.btn-primary {
  display: block;
  width: fit-content;
  background-color: var(--primary);
  color: var(--bg);
  padding: 0.7rem 1rem;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s;
  text-decoration: none;
  svg {
    width: 0;
    overflow: hidden;
    transition: all 0.3s;
  }
  &:hover {
    background-color: var(--bg-dark);
    svg {
      width: 1rem;
      margin-left: 0.5rem;
    }
  }
}
